*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: black;
    color: white;
    padding: 1em;
    text-align: center;
}

div{
    display: flex;
    padding: 1em 2em;
}

img{
    width: 200px;
    height: 200px;
    background-color: grey;
    margin-right: 10px;
    float: left;
}

h2{
    padding: 10px 0;
}

section{
    padding: 1em 1.5em;
    line-height: 1.5;
}
